:root {
  --font: "League Gothic", sans-serif;
}
body {
  height: 100%;
  margin: 0;
}
h1 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--font);
  letter-spacing: 10px;
  text-transform: uppercase;
}
.container {
  width: 240px;
  height: 350px;
  background-color: black;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 10px;
  color: white;
  font-family: var(--font);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.screen {
  background-color: lightblue;
  height: 50px;
  width: 230px;
  margin-left: 3px;
  margin-bottom: 15px;
  font-size: 35px;
  text-align: right;
  font-weight: 600;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 10px;
}
.button {
  background-color: grey;
  color: white;
  width: 47px;
  height: 47px;
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  border-radius: 15px;
}
.button:hover {
  outline: 2px solid lightcyan;
}
.clear {
  background-color: red;
  font-weight: 700;
}
.operator {
  background-color: lightsteelblue;
  font-weight: 700;
}
